[type=tel], [type=url], [type=email], [type=number] {
  direction: ltr !important;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}

.text-shadow{
  text-shadow: 0px 4px 10px transparentize($dark, 0.2);
}