<footer class="footer bg-primary pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/logo-white.png" class="img-fluid" width="75" alt="White Lucky Shrub Logo">
            </div>
            <div class="col-md-6 text-white mt-4 mt-md-0">
                <h5 class="fw-bold">Quick Links</h5>
                <div class="row">
                    <div class="col-12">
                        <a href="index.html" class="text-white">Home</a>
                    </div>
                    <div class="col-12">
                        <a href="index.html" class="text-white">Features</a>
                    </div>
                    <div class="col-12">
                        <a href="index.html" class="text-white">Pricing</a>
                    </div>
                    <div class="col-12">
                        <a href="index.html" class="text-white">About</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 pt-3 border-top border-2">
            <div class="col-12">
                <p class="small mb-0 text-center text-white">© <span class="credits font-weight-bold">
                        Copyrights. All Rights reserved. Designed and developed by <a href="https://adilasif.io" target="_blank" class="text-white text-decoration-underline">Adil Asif</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
{{> _animejs}}
{{> _aos-js}}
{{> _select2-css-js}}
<script src="{{root}}assets/vendor/js/bootstrap.bundle.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
