<nav>
  <div class="container">
    <header class="row py-3">
      <div class="col-auto">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="assets/img/logo-2.png" class="img-fluid" height="90" width="201" alt="Lucky Shrub Logo">
        </a>
      </div>
      <div class="col d-flex justify-content-end">
        <ul class="nav nav-pills justify-content-end align-items-center">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </div>
    </header>
  </div>
  </nav>

  