<!-- Banner Section -->
<section class="container-fluid g-0">
  <div class="row g-0">
    <div class="col-12">
      <div id="mainBannerCarousel" class="carousel slide carousel-fade">
        <div class="carousel-indicators mb-5 pb-4">
          {{#each banners}}
          <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="{{@index}}"{{#ifequal @index 0}} class="active" aria-current="true"{{/ifequal}} aria-label="Slide {{@index}}"></button>
          {{/each}}
        </div>
        <div class="carousel-inner">
          {{#each banners}}
          <div class="carousel-item position-relative {{#ifequal @index 0}}active{{/ifequal}}">
            <img src="assets/img/banners/slide-{{add @index 1}}.jpg" class="d-block object-fit-cover banner-image" alt="Slider {{@index}}">
            <div class="row position-absolute h-100 w-100 top-0 start-0 g-0 z-1 pb-5">
              <div class="col-12 d-flex justify-content-end align-items-center flex-column mb-5">
                <div class="row justify-content-center mb-5">
                  <div class="col-md-8 col-lg-6 col-xl-8 text-center">
                    <h2 class="display-6 fw-bold text-light text-center text-shadow">{{Title}}</h2>
                    <p class="h6 text-light text-center text-shadow mb-4">{{Subtitle}}</p>
                    {{>_button-a ButtonText=Button ButtonClasses="btn-primary btn-lg"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainBannerCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainBannerCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>