<!-- Decorate your home with plants section -->
<section class="bg-light py-5 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h2 class="text-primary fw-bold">Decorate your<br>home with plants</h2>
              <p>Unlock the potential of your outdoor space with Lucky Shrub's garden design expertise. Jason, our passionate garden architect, envisions and creates stunning landscapes tailored to your preferences. Let us turn your garden dreams into a reality.</p>
              <ul>
                  <li>Transform your outdoor space into a lush oasis with Lucky Shrub. Let our expert team led by Jason create harmony in green.</li>
                  <li>Discover vibrant indoor and outdoor plants at Lucky Shrub's Plant Nursery. Elevate your spaces with our carefully curated selection, cultivated with love.</li>
                  <li>Experience professionally landscaped gardens with Lucky Shrub. Our dedicated team, guided by Jason, turns landscapes into captivating works of art.</li>
              </ul>
          </div>
          <div class="col-md-4">
              <img src="assets/img/plant.png" width="350" class="img-fluid float-end" alt="Plant">
          </div>
      </div>
  </div>
</section>