<!-- Services Section -->
<section class="container mt-n5 position-relative z-3 bg-gray-200">
  <div class="row">
      <div class="col-md position-relative">
          <img src="assets/img/services-img/service-img-1.jpg" height="350" width="450" class="object-fit-cover" alt="Service Image 1">
          <div class="row">
              <div class="col-8 position-absolute top-0 start-0">
                  <div class="p-3">
                      <h4 class="fw-bold text-primary">Landscaping Services</h4>
                      <p class="mb-0">
                          Experience the magic of Lucky Shrub's professional landscaping.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 position-relative">
          <img src="assets/img/services-img/service-img-2.jpg" height="350" width="300" class="object-fit-cover" alt="Service Image 1">
          <div class="row">
              <div class="col-12 position-absolute bottom-0 start-0">
                  <div class="p-3 text-center">
                      <h4 class="fw-bold text-primary">Plant Nursery</h4>
                      <p class="mb-0">
                          Explore a variety of indoor and outdoor plants.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md position-relative">
          <img src="assets/img/services-img/service-img-3.jpg" height="350" width="450" class="object-fit-cover" alt="Service Image 1">
          <div class="row">
              <div class="col-6 position-absolute bottom-0 start-0">
                  <div class="p-3">
                      <h4 class="fw-bold text-primary">Garden Design</h4>
                      <p class="mb-0">
                          View Lucky Shrub's garden design services and Jason's expertise.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>